<a href="https://colab.research.google.com/github/daham-13/CM2604-Coursework/blob/main/CM2604_Coursework_2330906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [11]:
#instal ucimlrepo library for fetching data
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.12.14)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)

In [15]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
bank_marketing = fetch_ucirepo(id=222)

# data (as pandas dataframes)
X = bank_marketing.data.features
y = bank_marketing.data.targets

In [19]:
import pandas as pd

# Combine X (features) and y (target) into one DataFrame
data = pd.concat([X, y], axis=1)

# Check the combined DataFrame
print(data.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married        NaN      no     1506     yes   no
4   33           NaN   single        NaN      no        1      no   no

  contact  day_of_week month  duration  campaign  pdays  previous poutcome   y
0     NaN            5   may       261         1     -1         0      NaN  no
1     NaN            5   may       151         1     -1         0      NaN  no
2     NaN            5   may        76         1     -1         0      NaN  no
3     NaN            5   may        92         1     -1         0      NaN  no
4     NaN            5   may       198         1     -1         0      NaN  no

# Data Preprocessing

### Data Overview

In [22]:
#Basic information of data

# General Information
print(data.info())  # Data types, non-null counts, and memory usage

# Summary Statistics
print(data.describe(include="all"))  # Summary for numerical and categorical columns

# Shape of the Data
print(f"Dataset contains {data.shape[0]} rows and {data.shape[1]} columns.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  object
 2   marital      45211 non-null  object
 3   education    43354 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      32191 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   object
 16  y            45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
                 age          job  marital  education default        balance  \
count   45211.000000        44923    45211      43354   45211   45211.000000
unique           NaN           11        3          3       2            NaN
top              NaN  blue-collar  married  secondary      no            NaN
freq             NaN         9732    27214      23202   44396            NaN
mean       40.936210          NaN      NaN        NaN     NaN    1362.272058
std        10.618762          NaN      NaN        NaN     NaN    3044.765829
min        18.000000          NaN      NaN        NaN     NaN   -8019.000000
25%        33.000000          NaN      NaN        NaN     NaN      72.000000
50%        39.000000          NaN      NaN        NaN     NaN     448.000000
75%        48.000000          NaN      NaN        NaN     NaN    1428.000000
max        95.000000          NaN      NaN        NaN     NaN  102127.000000

       housing   loan   contact   day_of_week  month      duration  \
count    45211  45211     32191  45211.000000  45211  45211.000000
unique       2      2         2           NaN     12           NaN
top        yes     no  cellular           NaN    may           NaN
freq     25130  37967     29285           NaN  13766           NaN
mean       NaN    NaN       NaN     15.806419    NaN    258.163080
std        NaN    NaN       NaN      8.322476    NaN    257.527812
min        NaN    NaN       NaN      1.000000    NaN      0.000000
25%        NaN    NaN       NaN      8.000000    NaN    103.000000
50%        NaN    NaN       NaN     16.000000    NaN    180.000000
75%        NaN    NaN       NaN     21.000000    NaN    319.000000
max        NaN    NaN       NaN     31.000000    NaN   4918.000000

            campaign         pdays      previous poutcome      y
count   45211.000000  45211.000000  45211.000000     8252  45211
unique           NaN           NaN           NaN        3      2
top              NaN           NaN           NaN  failure     no
freq             NaN           NaN           NaN     4901  39922
mean        2.763841     40.197828      0.580323      NaN    NaN
std         3.098021    100.128746      2.303441      NaN    NaN
min         1.000000     -1.000000      0.000000      NaN    NaN
25%         1.000000     -1.000000      0.000000      NaN    NaN
50%         2.000000     -1.000000      0.000000      NaN    NaN
75%         3.000000     -1.000000      0.000000      NaN    NaN
max        63.000000    871.000000    275.000000      NaN    NaN
Dataset contains 45211 rows and 17 columns.

In [24]:
#Null values

missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

missing_presentage = (data.isnull().sum() / len(data)) * 100
print("\nMissing Values Percentage:\n", missing_presentage)

Missing Values:
 age                0
job              288
marital            0
education       1857
default            0
balance            0
housing            0
loan               0
contact        13020
day_of_week        0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome       36959
y                  0
dtype: int64

Missing Values Percentage:
 age             0.000000
job             0.637013
marital         0.000000
education       4.107407
default         0.000000
balance         0.000000
housing         0.000000
loan            0.000000
contact        28.798301
day_of_week     0.000000
month           0.000000
duration        0.000000
campaign        0.000000
pdays           0.000000
previous        0.000000
poutcome       81.747805
y               0.000000
dtype: float64

In [25]:
#Duplicate Data

# Count Duplicate Rows
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0